.body
{
    background-color: #00B3D4;
}

.strip{
    background-color: #ffffff;
    margin-top: 20px;
    margin-left: -10px; 
    margin-right: -10px;
}
.home{
    background:url('home1.png') no-repeat ;
    position: absolute; 
    z-index: 0; 
    border: none;
    margin-left: 10px;
    margin-top: 10px;
    width:200px;
    height: 40px;
    font-size: 25px;
    color:#ffffff;
}
.logo{
    margin-left: 50px;
}

.upload_div{
    background-color: #4ECBE1;
    width: 700px;
    /*height: 400px;*/
    border-radius: 8px;
}

.edit_div{
     background-color: #4ECBE1;
     width: 600px;
    /*height: 400px;*/
    border-radius: 8px;
}

.selection_type{
    background-color: aliceblue;
    height: 40px; 
    width: 200px;
    color: black; 
    font-size: 18px; 
    font-style: normal; 
    /*margin-left: 20px;*/ 
    border-radius: 5px;
}
.selection_category{
    background-color: aliceblue;
    height: 40px;
    width: 230px; 
    color: black;
    font-size: 18px;
    font-style: normal;
    margin-left: 20px;
    border-radius: 5px;
}

.button_style{
  background-color: #934F10; 
    height: 40px;
    width: 130px;
    color: white;
    font-size: 15px; 
    margin-left: 20px; 
    border-color: #8A4A0D;
    border-radius: 5px;
    margin-bottom: 30px;
}

.filechooser{
    background-color: #3CAFC2;
    width: 580px;
    /*height: 100px;*/
    border-style: dashed;
    border-color: white;
    padding: 10px;
}

.login_div{
    background-color: #4ECBE1;
    width: 400px;
    /*height: 400px;*/
    border-radius: 8px;
}

.textbox
{
    height: 30px;
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
}

.dashboard_buttons
{
    background-color: #934F10; 
    height: 60px;
    width: 250px;
    color: white;
    font-size: 25px; 
    border-color: #8A4A0D;
    border-radius: 5px;
  
}

.selection_type_edit{
    background-color: aliceblue; 
    border-radius: 5px; 
    height: 40px; 
    width: 230px; 
    color: black; 
    font-size: 18px; 
    font-style: normal; 
    margin-left: 40px;
}